.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 20px;
  color: var(--spice-text);
}

.hint {
  font-size: 50px;
  color: var(--spice-text);
}

.similarity {
  font-size: 50px;
  color: var(--spice-text);
}

.subtitle {
  font-size: 40px;
}

.button {
  padding: 10px;
  border-radius: 10px;
  border:none;
  color: black;
  background-color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(243, 243, 243);
  }

  &:active {
    background-color: rgb(228, 228, 228);
  }
}

.counter {
  font-size: 50px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 14px;
  background-color: var(--spice-main);
  color: var(--spice-text);
  font-size: 14px;
  border: 1px solid var(--spice-text);
  border-radius: 2px;

  &:focus {
    border: 1px solid var(--spice-button);
  }
}

.guessList {
  list-style-type: decimal;

  &:empty {
    display: none;
  }

  li {
    color: var(--spice-notification-error);
    &.correct {
      color: var(--spice-button);
    }
  }
}

// Container for the guess/skip buttons
.formButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  gap: 20px;
}

.StatsButton {
  color: var(--spice-text) !important;
  background-color: transparent !important;
  padding: 12px !important;

  position: fixed !important;
  top: 125px;
  right: 50px;
}

.SettingsButton {
  color: var(--spice-text) !important;
  background-color: transparent !important;
  padding: 12px !important;

  position: fixed !important;
  top: 100px;
  right: 50px;
}

.resetButton{
  position: fixed !important;
  bottom: 125px;
  right: 25px;
  color: var(--spice-text) !important;
  background-color: var(--spice-notification-error) !important;
  padding: 12px !important;
}

.titleButton {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(70, 130, 180);
  text-align: center;
  font-size: clamp(0.5rem, 2vw, 1.25rem); // Reduces the maximum font size
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  white-space: normal; // Allow text to wrap
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis; // Add ellipsis for overflow text

  &:hover {
    background-color: rgb(100, 149, 237);
  }

  &:active {
    background-color: rgb(25, 25, 112);
  }
}

.settingsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.settingsRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.settingsLabel {
  white-space: nowrap;
  font-size: 1.5rem;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.settingsSelect {
  font-size: 1rem;
  height: 30px;
  width: 100%;
}

.settingsOption {
  font-size: 1rem;
}

.similarityDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px;
}

.settingsInput {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  border-radius: 12px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 12px;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 12px;
  }
}